#header
{
	position:;
	background: #353535;
	width:100%;
	height:70px;
	top:0px;
	left:0px;
	z-index:100000;
	font-family:SourceSansProLight;
	font-size:0.8em;
	transition: 0.3s;
	z-index: 10000;
	overflow: hidden;

}


/*boutons header*/

.FestivalCanne{
	display: inline;
	margin-left: 15px;
	font-size: 57px;
	color: #c8a461;
	font-family:hvn;
}

.bh
{
	float:right;
	margin-right:5%;
	padding-left:5px;
	padding-right: 5px;
	height:100%;
	line-height:40px;
	text-decoration:none;
	font-size: 15px;
}

#deco {text-decoration: none;}

.bjr {float:left;margin-right: 20px;top:0;margin-top:15px;color:#a5a5a5;}
.deco {float: right;margin-left: 15px;margin-top:15px;text-decoration: none;color:#a5a5a5; border: 1px solid black; background: #2c2c2c;border-radius: 5px;padding-left: 5px;padding-right: 5px;}
.deco:hover{box-shadow: 0px 0px 5px 2px  #5f5f5f inset;transition: 0.3s}
.deco:active{box-shadow: 0px 0px 5px 2px  #4f4f4f inset;transition: 0.3s}
